body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 800px;
}

.card{
      height: 600px;
      width: 400px;
      border: solid 2px black;
      display: flex;
      flex-direction: column;
      align-items: center;
      
}
.img{
      height: 400px;
      width: 300px; 
      position: relative;
      top: 20px;
      left: 50px;
      

}
.gris{
      background-color: rgb(235, 232, 232);
height: 450px;

}
.envio{
      background-color: blue;
      color: white;
      height: 12px;
      border-radius: 8px;
      font-size: 10px;
      height: 20px;
      padding: 5px;
      position: relative;
      top: 45px;
      left: 55px;
      z-index: 1;
}
.descuento{
background-color: rgb(81, 150, 81);
color: white;
font-size: 8px;
padding: 5px;
height:12px ;
border-radius: 8px;
position: relative;
top: 70px;
left: -7px;
z-index: 1;
}
.corazon{
      color: red;
      font-size: 20px;
      position: relative;
      top: 45px;
      left: 230px;
     z-index: 1;
     
}
.blanco{
      display: flex;
      flex-direction: column;
      font-family:Noto Serif Oriya ;
      
}
.Adidas{
      font-size: 30px;
      position: relative;
      left: -50px;
      
}
.men{
      font-size: 23px;
      color: darkgray;
      position: relative;
      left: -50px;
}
.precio{
color: aquamarine;
font-size: 28px;
font-weight: bold;
position: relative;
left: 250px;
top: -70px;
}